
<!-- location search content -->
<div id="location-search" class="ui-widgets-layout">

	<div id="location-search-form">
		%location-search-form%
	</div>
	
	<!-- spacer -->
	<div class="width-100 height-25"> &nbsp; </div>
	
	<div id="location-search-controls">
	
		<button type="button" onClick="LocationSearch.handleDoLocationSearchUi( this );" class="max-width-300 margin-auto" alt="%stringz_btn_search%" title="%stringz_btn_search%">%stringz_location_searchforlocation%</button>
	
	</div>
	
</div>